'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Haxe IDE'
            'submenu': [
                { 'label': 'Toggle Server Log', 'command': 'haxe:toggle-server-log' }
            ]
        ]
    }
]
'context-menu':
    '[data-path$=hxml]': [
        { label: 'Haxe', command: 'haxe:build' },
        { type: 'separator' }
    ]
