'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'XXX'
            'submenu': [
                { 'label': 'Toggle Server Log', 'command': 'xxx:toggle-server-log' }
            ]
        ]
    }
]
'context-menu':
    'atom-text-editor[data-grammar$=hxml]': [
        { type: 'separator' },
        { 'label': 'Build', 'command': 'xxx:build' },
        { type: 'separator' }
    ]
    'atom-pane[data-active-item-name$=\\.hxml]': [
        { type: 'separator' },
        { 'label': 'Build', 'command': 'xxx:build' },
    ]
    '[data-name$=\\.hxml]': [
        { label: 'Build', command: 'xxx:build' },
        { type: 'separator' }
    ]
