
@import "xxx";

.haxe-serverlog {

    height: 100%;
    min-height: 100%;
	max-height: 100%;
	min-width: 100px;
	max-width: 600px;
	//max-width: 50%
    overflow-y: auto;
    //line-height: 12px;

    font-family: @font-family-mono;
    color: @text-color-subtle;

    //border-left: 1px solid @pane-item-border-color;

    cursor: default;

	ol.messages {

        list-style: none;
        margin: 0;
        padding: 2px 0px 2px 2px;
        width: 100%;
        height: 100%;
	    overflow: scroll;

		li.message {

            list-style: none;
            white-space: nowrap;
            //white-space: pre-wrap;

			padding: 1px 4px 0px 4px;
			color: @text-color;
            //font-size: 90%;

            &:not(:last-child) {
                border-bottom: 1px dotted @pane-item-border-color;
            }

            &.processing,
            &.reading,
            &.time,
            &.waiting,
            &.client {
                color: @text-color-info;
            }

            &.error {
                color: @text-color-error;
                font-weight: bold;
            }

            &.reusing,
            &.parsed {
                color: @text-color-subtle;
            }

            &.parsed {
                .link {
                    cursor: pointer;
                    margin-left: 4px;
                }
                .link:hover {
                    color: @text-color-highlight;
                    text-decoration: underline;
                }
            }

            &.processing {}
                .message.processing div.param {
                //margin-left: 16px;
            }

            &.time {
                //border-bottom: 4px solid @pane-item-border-color;
            }
		}
		/*
		.message.cached {}
		.message.stats {}
		*/
	}
}
