
@import "xxx";

@keyframes icon_spin {
	100% { transform: rotate(-360deg); }
}

status-bar .haxe-status {

	.haxe-icon {
		margin-left: .2em;
		font-size: 112%;
		color: @text-color;
		transition: color 0.15s;
	}
	.haxe-icon.active {
		color: @text-color-highlight;
		animation: icon_spin 0.4s linear infinite forwards;
	}
	.haxe-icon.error {
		color: @text-color-error;
	}
	.haxe-icon.success {
		color: @text-color-success;
	}

	.info {
		margin-left: 2px;
		margin-right: 2px;
		transition: color 0.15s;
		cursor: pointer;
	}
	.info:hover {
		text-decoration: underline;
	}
	.info.active {
		color: @text-color-highlight;
	}
	.info.error {
		color: @text-color-error;
	}
	.info.success {
		color: @text-color-success;
	}

	.meta {
		//margin-left: 4px;
		color: @text-color-subtle;
	}
}

/*
status-bar {

	.haxe-status {
		.haxeicon {
			display: inline-block;
			width: 1em;
			margin-right: 4px;
			text-align: center;
			font-family: HaxeIDEFont;
			font-size: 112%;
			line-height: 1em;
			margin-left: .2em;
			-webkit-font-smoothing: antialiased;
			transition: color 0.2s;
			//will-change: color, transform;
			color: @text-color;
		}
		.haxeicon:before {
			//content: '\e805';
		}

		.haxe-icon {

			width: 1em;
			line-height: 1em;
			text-align: center;
			margin-left: .2em;
			margin-right: 2px; // 4px

			//font-size: 112%;

			color: @text-color;

			transition: color 0.2s;
		}
		.haxe-icon:before {
			//font-size: @font-size;
			font-size: 13px;
			font-size: @font-size;
			text-align: center;
			//margin-top: 1px;
		}
		.icon.active {
			animation: icon_spin 0.4s linear infinite forwards;
		}
		.icon.error {
			color: @text-color-error;
		}
		.icon.success {
			color: @text-color-success;
		}

		.info {
			margin-left: 2px;
			transition: color 0.2s;
			cursor: pointer;
		}
		.info:hover {
			text-decoration: underline;
		}
		.info.error {
			color: @text-color-error;
		}
		.info.success {
			color: @text-color-success;
		}

		.meta {
			margin-left: 4px;
			color: @text-color-subtle;
		}
	}
}
*/
