
@import "xxx";

.xxx-build {

    display:table;
    width: 100%;
    overflow-y: auto;

    font-family: @font-family-mono;

    ol.messages {

        margin: 0;
        padding: 0;

        li.message {

            list-style-type: none;
            //white-space: pre;

            padding: 2px 0 2px 5px;

            &:not(:last-child) {
                border-bottom: 1px solid @pane-item-border-color;
            }

            &.info {
                color: @text-color-info;
            }
            &.success {
                color: @text-color-success;
            }
            &.warning {
                color: @text-color-warning;
            }
            &.error {

                //background: @background-color-error;
                color: @text-color-error;

                .index {
                    display: none;
                }

                //.position {}

                .path:after {
                    content: ":";
                }
                .line:after {
                    content: ": ";
                }
                .start:after {
                    content: "-";
                }
                .end:after {
                    content: " : ";
                }
                .content {
                }
            }
        }
    }
}

/*
.xxx-build {

    display:table;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    //border-left: 1px solid @pane-item-border-color;

    font-family: @font-family-mono;

    ol.messages {

        margin: 0;
        padding: 0;
        overflow: auto;
        white-space: pre-wrap;

        li.message {

            list-style-type: none;
            background-clip: content-box;
            line-height: normal;
            vertical-align: middle;

            padding-top: 3px;
            padding-bottom: 2px;
            padding-left: 6px;

            background: @pane-item-background-color;
            &:not(:last-child) {
                border-bottom: 1px solid @pane-item-border-color;
            }

            &.info {
                color: @text-color-info;
            }
            &.success {
                color: @text-color-success;
            }
            &.warning {
                color: @text-color-warning;
            }
            &.error {

                //background: @background-color-error;
                color: @text-color-error;

                .index {
                    display: none;
                }

                //.position {}

                .path:after {
                    content:":";
                }
                .line:after {
                    content:": ";
                }
                .start:after {
                    content:"-";
                }
                .end:after {
                    content:" : ";
                }
                .content {
                }
            }

        }
    }
}
*/
